.glitch-text {
    text-shadow:
        0.05em 0 0 rgba(255, 0, 0, .75),
        -0.025em -0.05em 0 rgba(0, 255, 0, .75),
        0.025em 0.05em 0 rgba(0, 0, 255, .75);
    animation: glitch 500ms infinite;
}

@keyframes glitch {
    0% {
        text-shadow:
            0.05em 0 0 rgba(255, 0, 0, .75),
            -0.05em -0.025em 0 rgba(0, 255, 0, .75),
            -0.025em 0.05em 0 rgba(0, 0, 255, .75);
    }

    14% {
        text-shadow:
            0.05em 0 0 rgba(255, 0, 0, .75),
            -0.05em -0.025em 0 rgba(0, 255, 0, .75),
            -0.025em 0.05em 0 rgba(0, 0, 255, .75);
    }

    15% {
        text-shadow:
            -0.05em -0.025em 0 rgba(255, 0, 0, .75),
            0.025em 0.025em 0 rgba(0, 255, 0, .75),
            -0.05em -0.05em 0 rgba(0, 0, 255, .75);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(-100%);
    }
}

.animate-slide-up {
    animation: slide-up 20s linear infinite;
}